body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(46, 51, 50);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
}
#chess_table{
    display: flex;
    gap:1rem;
   
}
#echequier {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    transition: transform ease 1s;
}


.chess_case{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    z-index: 3;
}

.false{
    background-color: rgb(209, 189, 189);
}

.true{
   
    background-color: rgba(35, 28, 28, 0.692);
}



.cible {
    position: relative;
    
}
.cible:after{
    content: '';
    background-color: rgba(105, 82, 82, 0.699);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}
.click{
    border: 2px solid orange;
}

.game_box{
    display: flex;
    justify-content: center;
    flex-direction: col;
    align-items: center;

}
#logo{
    transition:  transform ease 1s;
    width: 50%;
}


#play_btn{
    padding: 10px 1rem;
    width: 100px;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
    color: rgb(179, 165, 180);
    background: rgb(141, 101, 134);
    transition: color ease 1s;
    font-weight: bold;
}
#play_btn:hover, #play_btn:focus{
    background-color: rgba(35, 28, 28, 0.692);
    color: white;
}

.game_cmd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    height: min-content;
    padding: 1rem;
    width: fit-content;
}
.themes_box{
    width: fit-content;
}
.theme-css{
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    transition: color ease 1s;
}

#dracula:hover, #dracula:focus{
    color: rgb(233, 224, 224);
    background: rgba(35, 48, 83, 0.671);
}

#argentia:hover, #argentia:focus{
    color: rgb(223, 213, 213);
    background: rgba(119, 119, 119, 0.671);
}
#scarlet:hover, #scarlet:focus{
    color: rgb(223, 215, 215);
    background: rgb(116, 55, 55);
}
#classic:hover, #classic:focus {
    color: rgb(255, 248, 248);
    background: rgb(0, 0, 0);
}


#turn_board{

    position: absolute;
    right: 0;
    bottom: 0;
    transition: transform ease 1s;
    width: 70px;
}
.timers{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.timer{
    width: 73px;
    font-size: 2rem;
    color: rgb(185, 179, 179);
    border: 2px solid rgb(145, 136, 136);
    border-radius: 3px;
    padding: 4px 6px;
}
.min-css{
    padding:5px 8px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
}

.min-css:hover, .min-css:focus{
    background-color: rgba(35, 28, 28, 0.692);
    color: white;
}